@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
  height: 100%;
}

p {
  font-size: 14px;
}

.card {
  background: linear-gradient(
    to bottom,
    hsl(236, 21%, 26%) 0%,
    hsl(236, 21%, 26%) 50%,
    hsl(236, 21%, 26%) 50%,
    hsl(236, 21%, 26%) 100%
  );
}

.page-flip {
  perspective: 1000px;
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.1s;
  transform-origin: center center;
}

.front {
  transform: rotateX(0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsla(236, 21%, 21%, 1) 0%,
    hsla(236, 21%, 21%, 1) 50%,
    hsl(236, 21%, 26%) 50%,
    hsl(236, 21%, 26%) 100%
  );
}

.back {
  transform: rotateX(-180deg);
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    hsla(236, 21%, 21%, 1) 0%,
    hsla(236, 21%, 21%, 1) 50%,
    hsl(236, 21%, 26%) 50%,
    hsl(236, 21%, 26%) 100%
  );
  align-items: center;
}

.flipped {
  transform: rotateX(-180deg);
}

@media (min-width: 1440px) {
  .page-flip {
    perspective: 1000px;
    width: 200px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor: pointer;
  }
}
